/* .navbar{
  background-color: #0d0d0d;
} */

.website-name {
  color: rgb(255, 183, 0);
  font-size: 400px;
  text-align: left;
  margin: 10px auto;
}

@media screen and (width > 640px) {
  /* Make the logo smaller when on small screens */

  .website-name {
    font-size: 60px;
  }

  .hero-text {
    font-size: 40px;
  }
}

@media screen and (width > 1024px) {
  /* Make the logo smaller when on small screens */

  .website-name {
    font-size: 75px;
  }

  .hero-text {
    font-size: 60px;
  }
}